@layer components {
    .btn-circle {
        @apply flex items-center w-32 h-32 text-xs tracking-widest text-center text-black uppercase border border-black rounded-full font-headline;
    }
    .btn-circle:hover {
        @apply text-white bg-black;
    }

    .border-b-in {
        @apply relative;
    }
    .border-b-in:after {
        content: '';
        height: 2px;
        bottom: -1px;
        transition: all ease-in-out .2s;
        @apply absolute left-0 w-full bg-black md:w-0;
    }
    .group:hover .border-b-in::after, .border-b-in:hover::after {
        @apply  w-full;
    }

    .emdash {
        @apply relative pl-8;
    }

    .emdash::before {
        content: '';
        width: 24px;
        height: 2px;
        top: 51%;
        @apply absolute left-0 bg-black;
    }

    .emdash-in {
        @apply relative pl-8;
    }
    .emdash-in::before {
        content: '';
        width: 24px;
        height: 2px;
        top: 51%;
        transition: all ease-in-out .15s;
        @apply absolute left-0 bg-lime;
    }
    .group:hover .emdash-in::before, .emdash-in:hover::before {
        @apply left-0 w-0;
    }
}