@layer components {
    .btn-circle {
        @apply flex items-center border border-black rounded-full w-32 h-32 text-center text-xs uppercase font-headline tracking-widest text-black;
    }
    .btn-circle:hover {
        @apply bg-black text-white;
    }

    .border-b-in {
        @apply relative;
    }
    .border-b-in:after {
        content: '';
        position: absolute;
        width: 0px;
        height: 2px;
        left: 0%;
        bottom:-1px;
        transition: all ease-in-out .2s;
        @apply bg-black;
    }
    .border-b-in:hover::after {
        width: 100%;
        left: 0;
    }
}